html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

.lnr {
  font-family: "Linearicons-Free";
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
}

.speak {
  font-size: 0;
}

.button {
  min-width: 190px;
  height: 55px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 15px 10px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 27.5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.title-box {
  height: 110px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(107, 110, 115, 0.1);
  border-radius: 4px;
  padding: 40px 30px;
  &__text {
    font-size: 30px;
    line-height: 27px;
    font-weight: 400;
    color: #000;
  }
}

.title {
  text-align: center;
  font-size: 36px;
  line-height: 28px;
  font-weight: 400;
  color: #000;
}

.title-color {
  color: #0674ec;
}

.subtitle {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #555;
  max-width: 672px;
  margin: 0 auto 54px;
  text-align: center;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-radius: 0px 0px 3px 3px;
  &__name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  &__time {
    font-size: 14px;
    font-weight: 400;
    color: #747a86;
    &--new {
      color: #0674ec;
    }
    &--old {
      font-size: 15px;
    }
  }
}
