@import "fonts";
@import "vars";
@import "global";

// !HEADER////////////////////////////////////////////////////////////////////

.header {
  &__top {
    height: 100px;
    background-color: #eef1f3;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    position: relative;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info-item {
    padding-bottom: 40px;
    margin-bottom: -40px;
    &:hover {
      .dropdown {
        display: block;
      }
    }
  }

  &__link {
    background-color: #0674ec;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    padding: 4px 18px;
    transition: all 0.3s;
    &:hover {
      background-color: #62d03b;
    }
  }

  &__bottom {
    height: 80px;
    background-color: #fff;
    padding-right: 13px;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;
    position: relative;
  }

  &__circle {
    font-family: "Linearicons-Free";
    position: relative;
    margin-right: 24px;
  }

  &__search {
    max-width: 360px;
    width: 100%;
    position: relative;
    margin-top: -20px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 46px;
    padding-left: 25px;
    padding-right: 85px;
    border: 1px solid #d9dfe5;
    border-radius: 23px;
    &::placeholder {
      font-size: 15px;
      line-height: 32px;
      font-weight: 400;
      color: #898f96;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 46px;
    background-color: #0674ec;
    border-radius: 23px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #62d03b;
    }
  }
}

.alarm__num,
.message__num,
.cart__num {
  position: absolute;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  width: 22px;
  height: 22px;
  background-color: #ff6a6c;
  border-radius: 11px;
  bottom: 16px;
  left: 12px;
  text-align: center;
}

.alarm {
  &__num {
    width: 26px;
    left: 9px;
  }

  &__menu {
    padding: 26px 25px 0 24px;
    max-width: 370px;
    width: 100%;
    top: 100px;
    right: 0;
    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 10px 9px;
      border-color: transparent transparent #6980fe transparent;
      color: #0674ec;
      top: -10px;
      left: 22px;
    }
  }

  &__menu-header {
    display: flex;
    justify-content: space-between;
  }

  &__menu-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
  }

  &__menu-text {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
  }

  &__menu-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 17px;
    border-top: 1px solid #e8ebf0;
  }

  &__menu-image {
    margin-right: 14px;
  }

  &__menu-info {
    max-width: 215px;
    font-size: 15px;
    font-weight: 400;
    color: #747a86;
  }

  &__menu-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    &.lnr-heart {
      background-color: rgba(6, 116, 235, 0.1);
      font-size: 15px;
      color: #0674eb;
    }
    &.lnr-bubble {
      background-color: rgba(115, 71, 193, 0.1);
      font-size: 15px;
      color: #7347c1;
    }
    &.lnr-cart {
      background-color: rgba(255, 106, 108, 0.1);
      font-size: 15px;
      color: #ff6a6c;
    }
    &.lnr-star {
      background-color: rgba(98, 208, 58, 0.1);
      color: #62d03a;
      font-size: 15px;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.message {
  &__num {
    background-color: #62d03b;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    max-width: 370px;
    width: 100%;
    top: 100px;
    right: 244px;
    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 10px 9px;
      border-color: transparent transparent #6980fe transparent;
      color: #0674ec;
      top: -10px;
      right: 32px;
    }
  }

  &__menu-header {
    display: flex;
    justify-content: space-between;
    padding: 27px 24px 21px;
  }

  &__menu-title {
    font-size: 18px;
    font-weight: 400;
    color: #000;
  }

  &__menu-text {
    font-size: 15px;
    font-weight: 400;
    color: #0674ec;
  }

  &__menu-item {
    display: flex;
    align-items: center;
    padding: 20px 25px 17px;
    border-top: 1px solid #e8ebf0;
  }

  &__menu-image {
    margin-right: 14px;
  }

  &__menu-info {
    .dropdown__name {
      margin-right: 13px;
    }
  }

  &__menu-icon {
    &.lnr-envelope {
      font-size: 15px;
      color: #0674ec;
    }
    &--arrow {
      display: inline-block;
      background-image: url(../images/arrow-back.png);
      width: 16px;
      height: 12px;
    }
  }

  &__preview {
    padding-top: 15px;
  }
}

.cart {
  &__num {
    background-color: #0674ec;
  }

  &__menu {
    max-width: 400px;
    width: 100%;
    top: 100px;
    right: 177px;
    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 10px 9px;
      border-color: transparent transparent #6980fe transparent;
      color: #0674ec;
      top: -10px;
      right: 45px;
    }
  }

  &__menu-item {
    border-bottom: 1px solid #e8ebf0;
    padding: 26px 24px;
    display: flex;
  }

  &__menu-image {
    margin-right: 15px;
    img {
      width: 80px;
      height: 70px;
      object-fit: cover;
    }
  }

  &__menu-info {
    max-width: 190px;
    width: 100%;
  }

  &__menu-name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #000;
    margin-top: -3px;
    margin-bottom: 12px;
  }

  &__menu-category {
    font-size: 15px;
    font-weight: 400;
    color: #7347c1;
    padding-left: 21px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/wordpress-icon.png);
      width: 16px;
      height: 16px;
      left: 0;
    }
  }

  &__menu-price {
    margin-left: 15px;
  }

  &__menu-trash {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(115, 70, 192, 0.1);
    margin-left: 9px;
    margin-bottom: 10px;
    &.lnr-trash {
      font-size: 15px;
      color: #818c98;
      line-height: 32px;
      padding-left: 10px;
    }
  }
  &__menu-num {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(6, 116, 236, 0.1);
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    color: #0674ec;
  }

  &__menu-total {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 22px 24px 30px 0;
    text-align: right;
  }

  &__menu-links {
    display: flex;
  }

  &__menu-link {
    display: block;
    text-align: center;
    width: 50%;
    padding: 22px 10px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #fefefe;
    background-color: #7347c1;
    transition: all 0.3s;
    & + & {
      background-color: #0674ec;
    }
    &:hover {
      background-color: #62d03b;
    }
  }
}

.lnr-alarm,
.lnr-envelope,
.lnr-cart {
  font-size: 20px;
  color: #7e8fa1;
}

.lnr-cart {
  margin-right: 0 !important;
}

.user {
  padding-bottom: 25px;
  margin-bottom: -25px;
  &:hover {
    .user__menu {
      display: block;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-left: 36px;
    margin-right: 9px;
  }

  &__images {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 22px;
  }

  &__name {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
  }

  &__money {
    font-size: 15px;
    font-weight: 400;
    color: #0674ec;
  }

  &__menu {
    top: 100px;
    right: 0;
    width: 270px;
    padding: 20px;
    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 10px 9px;
      border-color: transparent transparent #6980fe transparent;
      color: #0674ec;
      top: -10px;
      right: 27px;
    }
  }

  &__menu-link {
    display: block;
    border-radius: 2px;
    font-size: 15px;
    line-height: 44px;
    color: #54667a;
    padding-left: 40px;
    position: relative;
    &::before {
      font-family: "Linearicons-Free";
      font-size: 15px;
      color: #54667a;
      position: absolute;
      left: 9px;
    }
    &:hover {
      background-color: #0674ec;
      color: #fff;
    }
    &:hover::before {
      color: #fff;
    }
  }
}

.menu {
  &__list {
    @include mp0;
  }

  &__item {
    display: inline-block;
    margin-right: 28px;
    padding-bottom: 17px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      .submenu {
        display: block;
      }
      .pages-menu {
        display: flex;
      }
    }
  }

  &__link {
    font-size: 15px;
    line-height: 42px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
    &:hover {
      color: #0674ec;
      text-decoration: underline;
    }
  }
}

.submenu {
  display: none;
  position: absolute;
  z-index: 5;
  top: 80px;
  left: 0;
  @include mp0;
  background-color: #ffffff;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  width: 270px;
  &__item {
    width: 230px;
    height: 44px;
    padding-left: 10px;
    &:hover {
      background-color: #0674ec;
      .submenu__link {
        color: #fff;
      }
    }
  }
  &__link {
    font-size: 15px;
    line-height: 44px;
    font-weight: 400;
    color: #54667a;
  }
  &__products {
    left: 70px;
  }
  &__wordpress {
    left: 215px;
  }
}

.pages-menu {
  display: none;
  position: absolute;
  z-index: 5;
  top: 80px;
  left: 0;
  @include mp0;
  background-color: #ffffff;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-radius: 0px 0px 3px 3px;
  padding: 34px 29px;
  max-width: 1140px;
  width: 100%;
  justify-content: space-between;

  &__title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding-bottom: 17px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8ebf0;
  }
  &__inner {
    display: flex;
  }

  &__martplace {
    min-width: 434px;
    width: 100%;
    margin-right: 40px;
  }

  &__martplace--first {
    min-width: 200px;
    width: 100%;
    padding-right: 34px;
  }

  &__link {
    display: block;
    font-size: 15px;
    line-height: 42px;
    padding-left: 10px;
    font-weight: 400;
    color: #54667a;
    &:hover {
      background-color: #0674ec;
      color: #fff;
    }
  }

  &__martplace--second {
    min-width: 200px;
    width: 100%;
  }

  &__dashboard {
    min-width: 161px;
    width: 100%;
    margin-right: 40px;
  }

  &__others {
    min-width: 416px;
    width: 100%;
  }

  &__others--first {
    min-width: 200px;
    width: 100%;
  }

  &__others--second {
    min-width: 200px;
    width: 100%;
  }
}

.lnr-magnifier {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

// !     SEARCH SECTION //////////////////////////

.search {
  background-color: rgba(68, 28, 124, 0.8);
  background-image: linear-gradient(-90deg, #0030de 0%, #2e5afb 100%);
  text-align: center;
  height: 726px;
  position: relative;

  &__inner {
    padding-right: 14px;
  }

  &__title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    color: #f3f3f8;
    padding: 170px 0 33px;
  }

  &__title--bold {
    font-weight: 700;
    display: block;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #f3f3f8;
    margin-bottom: 56px;
  }

  &__link {
    border: 1px solid #fff;
    color: #fff;
    margin: 12px;
    @include dib;
    transition: all 0.3s;
    &:hover {
      color: #0674ec;
      background-color: #fff;
    }
  }

  &__box {
    max-width: 1140px;
    width: 100%;
    height: 135px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    position: absolute;
    bottom: -66px;
    left: calc((100vw - 1140px) / 2 - 14px);
    padding: 40px;
    text-align: left;
    &::before {
      position: absolute;
      content: "";
      width: 1110px;
      height: 25px;
      opacity: 0.5;
      background-color: #fff;
      border-radius: 6px;
      top: -15px;
      left: 15px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 1080px;
      height: 40px;
      opacity: 0.5;
      background-color: #fff;
      border-radius: 6px;
      top: -28px;
      left: 30px;
    }
  }

  &__select-box {
    max-width: 807px;
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 4px;
  }

  &__box-input {
    display: inline-block;
    width: 100%;
    height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    outline: none;
    padding-left: 28px;
    padding-right: 220px;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    color: #676767;
  }

  &__box-select {
    position: absolute;
    right: 20px;
    top: 0;
    height: 55px;
    width: 175px;
    color: #555;
    border: 1px solid #dcdcdc;
    border-right: none;
    padding: 0 16px;
    border-radius: 0 4px 4px 0;
    outline: none;
  }

  &__box-btn {
    position: absolute;
    right: -253px;
    width: 223px;
    height: 55px;
    background-color: #0674ec;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #62d03b;
    }
  }
}

// !  ADVANTAGES SECTION //////////////////////////////////

.advantages {
  padding: 190px 0 115px;
  margin-right: 14px;
  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 365px;
    background-color: #ffffff;
    text-align: center;
    padding: 40px 35px 50px;
    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.07);
    }
  }

  &__image {
    width: 112px;
    height: 113px;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    padding: 33px 0 22px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #555555;
  }
}

// !  WEEKLY-PRODUCTS SECTION //////////////////////////

.weekly-products {
  background-color: #eff1f5;
  padding: 120px 0;
  margin-right: 13px;

  &__title {
    margin-bottom: 50px;
  }

  &__link {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
  }

  &__slider {
    position: relative;
  }

  &__item {
    box-shadow: 0px 2px 30px 0px rgba(146, 155, 168, 0.1);
  }

  &__img {
    width: 555px;
    height: 450px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 4px 0 0 4px;
    position: relative;
    &:hover {
      .products__more-link,
      .products__demo-link {
        opacity: 100%;
      }
    }
  }

  &__image {
    border-radius: 4px 0 0 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    width: 585px;
    max-height: 450px;
    margin-left: auto;
    padding: 45px 45px 24px 50px;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
  }

  &__name {
    margin-bottom: 15px;
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__category {
    display: inline-block;
    padding-left: 25px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #7347c1;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      background-image: url(../images/icons/wordpress-icon.png);
      top: 7px;
      left: 0;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #555555;
    margin: 28px 0 30px;
    max-height: 144px;
    // ! Схематоз на ограничение количества строк
    overflow-y: auto;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
  }

  &__categories {
    margin-bottom: 62px;
    max-height: 36px;
    overflow-y: auto;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2px;
  }

  &__nums {
    display: flex;
    align-items: center;
  }

  &__price {
    font-size: 15px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
    background-color: #0674ec;
    border-radius: 16px;
    padding: 0 18px;
    margin-right: 15px;
  }

  &__likes {
    font-family: "Linearicons-Free";
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #7347c1;
    margin-right: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__likes-num {
    font-family: "Quicksand", sans-serif;
    color: #555555;
    display: inline-block;
    margin: 0 11px 0 0;
  }

  &__sales {
    font-family: "Linearicons-Free";
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #0674ec;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__sales-num {
    font-family: "Quicksand", sans-serif;
  }
  .lnr-heart {
    color: #7347c1;
    display: inline-block;
    margin-right: -8px;
  }
  .lnr-cart {
    color: #0674ec;
    display: inline-block;
    margin-right: 8px;
  }
  .rate-star {
    font-size: 17px;
    height: 100%;
  }
}

.slick-arrow {
  width: 55px;
  height: 45px;
  background-color: #7347c1;
  color: #fff;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  z-index: 5;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #62d03b;
  }
}

.slick-prev {
  right: 85px;
  top: -125px;
  border-radius: 22.5px 0 0 22.5px;
}
.slick-next {
  right: 30px;
  top: -125px;
  border-radius: 0 22.5px 22.5px 0;
}

.avatar-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 9px;
}
.avatar-name {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  margin-right: 21px;
}
.info-subtittle {
  display: flex;
  align-items: center;
}

.category__box {
  display: inline-block;
  background-color: #f1f3f6;
  border-radius: 14px;
  margin: 4px;
}
.category__link {
  font-size: 15px;
  font-weight: 400;
  color: #868c96;
  display: inline-block;
  padding: 6px 13px 5px;
  cursor: pointer;
  &:hover {
    color: #333;
  }
}

// !  PRODUCTS SECTION  /////////////////////////////////

.title-box__filter {
  display: flex;
  align-items: center;
  position: relative;
  &:hover {
    .filter-list {
      display: block;
    }
  }
}

.filter-text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #747b86;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-bottom: -30px;
  background-color: #fff;
  border: none;
  outline: none;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-image: url(../images/filter-dots.png);
    width: 5px;
    height: 20px;
    right: 0;
    top: 6px;
  }
}

.filter-list {
  display: none;
  position: absolute;
  top: 50px;
  right: -23px;
  width: 183px;
  padding: 20px 30px 20px 27px;
  background-color: #ffffff;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-radius: 3px;
  &::before {
    content: "";
    border: 16px solid transparent;
    border-bottom: 18px solid #fff;
    position: absolute;
    right: 12px;
    margin-left: -12px;
    top: -32px;
    width: 0;
  }
}

.filter-item {
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  color: #747b86;
  display: block;
  cursor: pointer;
}

.filter-item:hover {
  color: #0674ec;
}

.products {
  padding: 120px 0;
  margin-right: 13px;
  background-color: #f6f7fb;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__inner-btn {
    padding: 30px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
  }

  &__inner-button {
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    color: #747b86;
    background-color: #f1f3f6;
    border: none;
    border-radius: 16px;
    padding: 0 19px;
    margin: 0 3px;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: #0674ec;
      color: #fff;
      outline: none;
    }
  }

  &__inner-box {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    justify-content: flex-start;
    margin-left: -30px;
  }

  &__card {
    // max-width: 360px;
    // width: 100%;
    margin-bottom: 30px;
    margin-left: 30px;
    flex-basis: calc(33.3333% - 30px);
  }

  &__item-img {
    height: 230px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all 0.3s;
    &:hover {
      .products__more-link,
      .products__demo-link {
        opacity: 100%;
      }
    }
  }

  &__item-content {
    padding: 27px 0 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(107, 110, 115, 0.1);
    border-radius: 4px;
  }

  &__item-title {
    padding: 0 28px;
    margin-bottom: 15px;
  }

  &__item-name {
    font-size: 20px;
    font-weight: 500;
    color: #000;
  }

  &__item-subtitle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 28px;
    margin-bottom: 25px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #555555;
    padding: 0 28px;
    margin-bottom: 30px;
    max-height: 87px;
    overflow-y: auto;
  }

  &__author {
    display: flex;
    align-items: center;
    .avatar {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin-right: 7px;
    }
    .avatar-name {
      font-size: 15px;
      font-weight: 400;
      color: #000;
      display: inline-block;
      margin-right: 20px;
    }
  }

  &__category {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #7347c1;
    padding-left: 25px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
    }
  }

  &__category-wordpress::before {
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/wordpress-icon.png);
    top: 7px;
  }

  &__category-psd::before {
    width: 13px;
    height: 17px;
    background-image: url(../images/icons/psd-icon.png);
    top: 7px;
  }

  &__category-html::before {
    width: 15px;
    height: 17px;
    background-image: url(../images/icons/html-icon.png);
    top: 7px;
  }

  &__nums {
    display: flex;
    align-items: center;
    padding: 15px 23px 0 29px;
    border-top: 1px solid #ececec;
    .lnr-heart {
      margin-right: 2px;
      color: #7f4ec2;
    }
  }

  &__price {
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    color: #0674ec;
    padding: 0px 17px;
    background-color: rgba(6, 116, 236, 0.1);
    border-radius: 15px;
  }

  &__likes {
    font-family: "Linearicons-Free";
    margin: 0 auto 0 13px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #7f4ec2;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__likes-num {
    color: #6f7d8d;
    font-family: "Quicksand", sans-serif;
  }

  &__sales {
    font-family: "Linearicons-Free";
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #0674ec;
    margin-left: auto;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__sales-num {
    font-family: "Quicksand", sans-serif;
  }

  &__bottom-btn {
    margin-top: 30px;
    text-align: center;
  }
  &__bottom-button {
    color: #fff;
    background-color: #0674ec;
    transition: all 0.3s;
    &:hover {
      background-color: #62d03b;
    }
  }

  &__star {
    margin-left: 8px;
  }

  &__more-link,
  &__demo-link {
    opacity: 0;
    width: 130px;
    height: 45px;
    border: 1px solid #f4f4f4;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 22.5px;
    font-size: 15px;
    line-height: 45px;
    font-weight: 500;
    color: #fff;
    background-color: #0674ec;
    background-image: linear-gradient(-90deg, #0674ec 0%, #7347c1 100%);
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      background-image: none;
      border: 1px solid #fff;
      color: #0674ec;
    }
  }

  &__more-link {
    left: calc(50% - 135px);
  }

  &__demo-link {
    right: calc(50% - 135px);
  }
}

// ! Followers-section //////////////////////////////////////

.followers {
  background-color: #eff1f5;
  padding: 80px 0 50px;
  margin-right: 14px;
  &__title {
    margin-bottom: 50px;
  }
  .slick-slide {
    min-width: 360px;
    margin-right: 30px;
  }
  .slick-slide:nth-child(3n) {
    margin-right: 0;
  }
}

// !  achievements-section /////////////////////////////////

.achievements {
  padding: 103px 0 97px;
  background-color: rgba(13, 15, 19, 0.8);
  margin-right: 14px;
  &__inner {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    text-align: center;
  }

  &__items {
    color: #feb71d;
  }

  &__sales {
    color: #58c9e9;
  }

  &__customers {
    color: #77de51;
  }

  &__members {
    color: #ff6a6d;
  }

  &__num {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 14px;
  }

  &__text {
    font-size: 18px;
    color: #fff;
  }

  .lnr-briefcase,
  .lnr-cloud-download,
  .lnr-smile,
  .lnr-users {
    font-size: 48px;
    line-height: 36px;
    padding-bottom: 49px;
  }
}

// !  Conveniences-section ///////////////////////////

.conveniences {
  padding: 120px 0 85px;
  margin-right: 14px;
  &__title {
    margin-bottom: 27px;
  }

  &__subtitle {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    max-width: 360px;
    padding: 45px 35px 60px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
  }

  &__item-num {
    position: absolute;
    top: 2px;
    left: 18px;
    font-size: 48px;
    font-weight: 300;
    color: #5c87f8;
    opacity: 0.2;
  }

  &__item-image {
    font-size: 60px;
    margin-bottom: 40px;
    &--darkblue {
      color: #0674ec;
    }
    &--violet {
      color: #7f4ec2;
    }
    &--green {
      color: #77de51;
    }
    &--yellow {
      color: #feb71d;
    }
    &--blue {
      color: #58c9e9;
    }
    &--red {
      color: #ff6a6d;
    }
  }

  &__item-title {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-bottom: 21px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #555;
  }
}

// ! Action-section  ////////////////////////////////

.action {
  overflow: hidden;
  &__sell,
  &__shopping {
    padding: 100px 0;
    text-align: center;
    max-width: 960px;
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__sell {
    float: left;
  }

  &__sell-image {
    width: 120px;
    height: 101px;
    margin: 0 auto 42px;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 22px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    max-width: 576px;
    margin: 0 auto 40px;
  }

  &__sell-link {
    color: #0674ec;
    transition: all 0.3s;
    &:hover {
      background-color: #62d03b;
      color: #fff;
    }
  }

  &__shopping-link {
    color: #7347c1;
    transition: all 0.3s;
    &:hover {
      background-color: #62d03b;
      color: #fff;
    }
  }

  &__shopping {
    float: right;
  }

  &__shopping-image {
    width: 100px;
    height: 100px;
    margin: 0 auto 43px;
  }
}

// !  Feedback-section  /////////////////////////////////

.feedback {
  padding: 120px 0;
  margin-right: 14px;
  .slick-slide {
    min-width: 555px;
    margin-right: 30px;
  }
  .slick-slide:nth-child(even) {
    margin-right: 0;
  }
  &__prev,
  &__next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #7347c1;
    box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
    transform: translateY(-50%);
  }
  &__prev {
    left: -25px;
  }
  &__next {
    right: -25px;
  }
  &__title {
    margin-bottom: 28px;
  }

  &__inner {
    margin-bottom: 60px;
  }

  .slick-track {
    overflow: hidden;
  }

  &__item {
    max-width: 555px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.07);
    border-radius: 0 4px 4px 0;
    padding: 50px 42px 46px 38px;
    border-left: 2px solid #0674ec;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__profile {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 19px;
  }

  &__info {
    max-width: 280px;
  }

  &__name {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 12px;
  }

  &__prof {
    font-size: 16px;
    font-weight: 400;
    color: #555;
  }

  &__icon {
    font-size: 60px;
    color: #e8e8e8;
    margin-right: -27px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #555;
    max-height: 117px;
    overflow-y: scroll;
  }

  &__btn {
    text-align: center;
  }

  &__button {
    background-color: #0674ec;
    color: #fff;
    display: inline-block;
    transition: all 0.3s;
    &:hover {
      background-color: #62d03b;
    }
  }
}

// !  News-section  /////////////////////////////////////

.news {
  background-color: #eff1f5;
  padding: 120px 0 90px;
  margin-right: 14px;
  .products__card {
    display: flex;
    flex-direction: column;
  }
  .products__item-content {
    padding-bottom: 0;
    flex: 1 1 auto;
  }
  .products__item-name {
    font-size: 22px;
  }
  .products__item-text {
    padding: 0 29px;
    margin-top: 22px;
  }
  &__title {
    margin-bottom: 26px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    max-height: 157px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 29px 13px;
    border-top: 1px solid #ececec;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
  }

  &__footer-date {
    padding-right: 47px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 40px;
      background-color: #ececec;
      right: 0;
      top: -3px;
    }
  }

  &__footer__time {
    color: #999 !important;
  }

  &__footer-nums {
    display: flex;
  }

  &__footer-comments {
    margin-right: 35px;
  }
}

.lnr-bubble,
.lnr-eye {
  color: #7e7e7e;
}

.lnr-clock {
  color: #0674ec;
  display: inline-block;
  margin-right: 6px;
}

// !  Guarantees-section  ////////////////////////////////

.guarantees {
  margin-right: 270px;
  margin-left: 189px;
  &__inner {
    display: flex;
    justify-content: space-around;
  }

  &__guarantee-img {
    background-image: url(../images/icons/guarantee.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 120px;
    margin: 61px auto 27px;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-bottom: 58px;
  }

  &__title--blue {
    color: #0674ec;
  }

  &__border {
    width: 1px;
    min-height: 100%;
    background-color: #e8eaf3;
  }

  &__support {
    padding-top: 3px;
  }

  &__support-img {
    background-image: url(../images/icons/support.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 155px;
    height: 117px;
    margin: 61px auto 30px;
  }

  &__title--violet {
    color: #7347c1;
  }
}

// ! Join-section  ////////////////////////////////

.join {
  background-color: rgba(21, 26, 32, 0.9);
  background-image: linear-gradient(-90deg, #0d3ef2 0%, #7221a0 100%);
  padding: 103px 0 110px;
  margin-right: 14px;
  text-align: center;
  &__title {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #e7e7e7;
    margin-bottom: 51px;
  }

  &__button {
    background-color: #fff;
    color: #0674ec;
    display: inline-block;
    transition: all 0.3s;
    &:hover {
      background-color: #62d03b;
      color: #fff;
    }
  }
}

// !  FOOTER  ///////////////////////////////////

.footer {
  margin-right: 14px;
  &__content {
    background-color: #262b30;
    padding: 115px 0;
  }

  &__inner {
    display: flex;
  }

  &__col {
    text-align: left;
  }

  &__col-about {
    width: 265px;
    margin-right: 75px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #ababab;
  }

  &__col-company {
    width: 170px;
    margin-right: 75px;
  }

  &__col-support {
    width: 170px;
    margin-right: 25px;
  }

  &__col-socials {
    width: 360px;
  }

  &__logo {
    margin-bottom: 28px;
  }

  &__about {
    line-height: 28px;
    margin: 19px 0 17px;
  }

  &__phone-link,
  &__email-link {
    color: #ababab;
  }

  &__phone {
    margin-bottom: 5px;
  }

  &__email {
    margin-bottom: 8px;
  }

  &__adress {
    padding-left: 30px;
    position: relative;
  }

  &__col-title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #fff;
    padding-top: 16px;
    margin-bottom: 26px;
  }

  &__col-list {
    @include mp0;
    a {
      font-size: 15px;
      line-height: 32px;
      font-weight: 400;
      color: #ababab;
    }
  }

  &__col-text {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #ababab;
    margin-bottom: 30px;
    padding-top: 3px;
  }

  &__form {
    max-width: 360px;
    width: 100%;
    position: relative;
    margin-bottom: 48px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 125px;
    border: 1px solid #d9dfe5;
    border-radius: 25px;
    outline: none;
    &::placeholder {
      font-size: 15px;
      line-height: 28px;
      font-weight: 400;
      color: #ababab;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    height: 50px;
    background-color: #0674ec;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #62d03b;
    }
  }

  &__social-link {
    @include mp0;
    li {
      @include dib;
      margin-right: 9px;
    }
  }

  &__copy {
    background-color: #192027;
  }

  &__copy-text {
    font-size: 15px;
    font-weight: 400;
    color: #999;
    padding: 40px 0;
    text-align: center;
    &--white {
      color: #fff;
    }
  }
  .lnr-phone-handset,
  .lnr-envelope,
  .lnr-map-marker {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    @include dib;
    margin-right: 12px;
  }

  .lnr-map-marker {
    position: absolute;
    left: 1px;
    top: 14px;
  }
}

.link-facebook,
.link-twitter,
.link-google,
.link-pinterest,
.link-linkedin,
.link-dribbble {
  width: 42px;
  height: 42px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@import "media";
